﻿@model AppDAE2Web.Models.eva_cat_edificios

@{
    ViewData["Title"] = "FicViCatEdificiosEdit";
}

<h2>Editar</h2>

<h4>Edificios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FicViCatEdificiosEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEdificio" class="control-label"></label>
                <input asp-for="IdEdificio" class="form-control" />
                <span asp-validation-for="IdEdificio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesEdificio" class="control-label"></label>
                <input asp-for="DesEdificio" class="form-control" />
                <span asp-validation-for="DesEdificio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReg" class="control-label"></label>
                <input asp-for="FechaReg" class="form-control" />
                <span asp-validation-for="FechaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaUltMod" class="control-label"></label>
                <input asp-for="FechaUltMod" class="form-control" />
                <span asp-validation-for="FechaUltMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioReg" class="control-label"></label>
                <input asp-for="UsuarioReg" class="form-control" />
                <span asp-validation-for="UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioMod" class="control-label"></label>
                <input asp-for="UsuarioMod" class="form-control" />
                <span asp-validation-for="UsuarioMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Borrado" /> @Html.DisplayNameFor(model => model.Borrado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" asp-action="FicPutItemCatEdficios" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista de edificios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
